.auth{
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, rgb(19, 122, 181), rgb(9, 39, 88));
    display: flex;
    justify-content: center;
    align-items: center;
    &__content{
        overflow: hidden;
        width: 280px;
        color: darken($color: #fff, $amount: 18);
        box-shadow: inset 0 5px 80px 10px rgba(0,0,0,.3),
                   0 5px 30px 10px rgba(0,0,0,.3);
        border-radius: 30px;
        margin-top: 3rem;
            margin-bottom: 3rem;
        @media (min-width: 500px){
            width: 300px;
        }
        @media (min-width: 1024px){
            width: 900px;
            display: flex;
            border-radius: 0;
        }
    }
    &__header{
        border-radius: 30px 30px 0 0;
        padding: 1.5rem;
        position: relative;
        // background: url('https://image.shutterstock.com/z/stock-vector-illustrations-design-concept-developer-create-code-programming-language-with-icons-vector-1147552523.jpg')
        //              right -10px/20% no-repeat,
        //             linear-gradient(45deg, #163179, #137ab5);
        clip-path: polygon(0 0, 30% 0, 30% 2%,
                          30.5% 2.5%, 31% 3%, 31.5% 3.5%,
                          32% 4%, 32.5% 4.5%, 33% 5%,
                          67% 5%, 67.5% 4.5%, 68% 4%,
                          68.5% 3.5%, 69% 3%, 69.5% 2.5%,
                          70% 0, 100% 0, 100% 100%,
                          0 100%, 0 0);
        background-image: linear-gradient(45deg, #163179, #137ab5);
        @media (min-width: 1024px) {
            flex: 0 0 70%;
            border-radius: 0;
            clip-path: none;
        }
       
    }
    &__top{
        display: flex;
        justify-content: space-between;
        @media (min-width: 1024px) {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    &__menu{
        font-size: 18px;
        @media (min-width: 1024px) {
            display: none;
        }
    }
    &__list{
        list-style: none;
        display: flex;
        @media (min-width: 1024px) {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding: 0;
        }
    }
    &__item{
        width: 100%;
        &--first{
            display: none;
            @media (min-width: 1024px) {
                display: block;
            }
        }
        &--second{
            margin-right: 1rem;
            @media (min-width: 1024px) {
                margin-right: 0;
            }
        }
        
    }
    &__link{
        text-decoration: none;
        font-size: 10px;
        color: inherit;
        &--active{
            color: #fff;
            font-weight: bold;
        }
        @media (min-width: 1024px){
            display: inline-block;
            padding: .7rem .8rem;
            width: 100%;
            text-align: center;
            font-weight: lighter;
            &--active{
                background-color: #fff;
                color: black;
                border-radius: 10px 0 0 10px;
                box-shadow: 0 5px 15px 1px lighten($color: black, $amount: 40);
                animation-name: opacity;
                animation-iteration-count: 1;
                animation-duration: 1s;
                animation-direction: normal;
                animation-timing-function: ease;
                @keyframes opacity {
                    from{
                        opacity: 0;
                    }
                    to{
                        opacity: 1;
                    }
                }
            }
        }
    }
    &__bottom{
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: inherit;
        @media (min-width: 1024px) {
            height: 100%;
        }
    }
    &__body{
        height: 260px;
        background-color: #fff;
        border-radius: 0 0 30px 30px;
        padding: 3.5rem 1.8rem 1.8rem;
        @media (min-width: 1024px) {
            flex: 1 0 0;
            height: 500px;
            border-radius: 0;
            display: flex;
            align-items: center;
            z-index: 2;
            position: relative;
        }
    }

    &__footer{
        display: none;
        position: absolute;
        bottom: 1rem;
        left: 0;
        width: 100%;
        @media (min-width: 1024px){
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__aside{
        display: flex;
        width: 55%;
        justify-content: space-between;
        font-size: 9px;
        padding: 0;
        list-style: none;
        &-link{
            color: black;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
                color: $primary;
            }
        }
    }
}
